name: 'Trigger release.yaml of all components'
on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The release branch/tag to checkout when triggering the workflow."
        required: true
        default: "release_branch"
env:
  GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}    
  ref: ${{ github.event.inputs.ref }}
  
jobs:       
  dispatch:
    strategy:
      matrix:
        repo: ['gingersnap-project/operator', 'gingersnap-project/db-syncer', 'gingersnap-project/cache-manager']
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: {{ secrets.PAT_TOKEN }} 
          repository: ${{ matrix.repo }}
          event-type: my-event
          client-payload: '{"ref": "${{ env.ref }}"}'